.background{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box{
  width: 500px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  border-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.6);
}

#quote-content{
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-around;
  margin: 10px;
}

#author{
  text-align: right;
}